.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

*.csproj
*.csproj.meta

.idea/
.vscode/

*.sln.DotSettings.user

*.sln
*.sln.meta

*.vs
.vs
.vs/
.vs/*
.vsidx
*.vsidx
.vsconfig

*.obj
*.obj.meta

Library/

UserSettings/

Logs/

Builds/
/Assets/AddressableAssetsData/link.*

Temp/

unity-project.sln.DotSettings.user

Assembly-CSharp.csproj.user
